@use '../assets/styles/mixins' as *;

.movies {
  @include flex(center, center, column);
  padding: 2rem 1rem;
  z-index: 5;
}

.moviesContainer {
  @include flex(space-evenly, center);
  width: 100%;
  flex-wrap: wrap;
}
.loadingMsg {
  color: var(--accent);
}

.pageButtons {
  @include flex(center, center);
  gap: 1rem;
  width: fit-content;
  margin-top: 3.2rem;

  button {
    padding: 1rem 2rem;
    border: none;
    background-color: var(--accent);
    color: var(--fc);
    border-radius: 1rem;
    box-shadow: var(--boxshadow);
    font-family: inherit;
    cursor: pointer;
    transition: transform 300ms ease;
  }

  button:hover {
    transform: scale(1.04);
  }
}
