.star {
  width: 2cqi;
  height: 2cqi;
  stroke: black;
  fill: var(--accent);
}

.starEmpty {
  fill: #777;
  stroke: black;
}

.starEmpty:hover {
  fill: var(--accent);
}

@media screen and (width>1600px) {
  .star {
    width: 1.4cqi;
    height: 1.4cqi;
  }
}
@media screen and (width <500px) {
  .star {
    width: 6cqi;
    height: 6cqi;
  }
}
