@use '../assets/styles/mixins' as *;
.sorting {
  text-align: center;
  padding: 1rem;
  margin-top: 1rem;
  visibility: hidden;
  select {
    background-color: var(--accent);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
  }
}
// }

.sorting.show {
  animation: sort 400ms forwards;
}

@keyframes sort {
  from {
    visibility: hidden;
    opacity: 0;
  }

  to {
    visibility: visible;
    opacity: 1;
  }
}
