* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* display: flex; */
  place-items: center;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  min-height: 100dvh;
  background: -webkit-linear-gradient(to top, #26d0ce, #1a4680);
  background: linear-gradient(to top, #26d0ce, #1a2980);
  background: #000;
}
html {
  font-size: 62.5%;
}

#root {
  min-height: 100dvh;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/src/assets/Montserrat.ttf');
}

:root {
  --fc: #000;
  --fcDark: #fff;
  --primary: #235295;
  --accent: #26d0ce;
  --secondary: #343753;
  --boxshadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  --borderRadius: 1rem;
}

body::-webkit-scrollbar {
  width: 8px;
  background-color: black;
}

body::-webkit-scrollbar-thumb {
  background: var(--accent);
  border-radius: 1rem;
}
